<div class="deals">
  <% if deals.any? %>
    <h3 class="dashboard__title">Active Deals</h3>

    <% deals.each do |deal| %>
      <div class="deals__item">
        <div class="deals__head">
          <h4 class="deals__title"><%= deal.vendor_name %></h3>
          <h5 class="deals__score"><%= current_stamps_count(deal.vendor.total_stamps_count(current_user)) %> / <%= Stamp::PRIZE_STAMP_COUNT %></h5>
        </div>

        <div class="deals__text">
          <%= deal.title %>
        </div>

        <div class="deals__date">
          <strong>Ends in:</strong> <%= distance_of_time_in_words(DateTime.current, deal.valid_till) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="empty-message text-center">There are no active deals for you yet.</div>
  <% end %>
</div>
