<div class="row">
  <div class="col-xs-12">
    <div class="qr-code">
      <%= raw @dashboard.qr_code.as_html %>
    </div>
    <div><%= t("users.your_id") %>: <%= @dashboard.user_code %></div>
  </div>
</div>

<div>
  <ul>
    <% @dashboard.recent_activity.each do |activity| %>
      <li>
        <%= activity.vendor_name %> |
        <%= time_ago_in_words(activity.created_at) %> ago |
        <%= activity.vendor_stamps %> / <%= Stamp::PRIZE_STAMP_COUNT %>
      </li>
    <% end %>
  </ul>
</div>
