<%= render 'shared/vendor_header', vendor_name: @dashboard.vendor_name %>

<div class="dashboard dashboard--vendor center-block">
  <%= render 'shared/vendor_tabs' %>

  <div class="tab-content clearfix">
    <div>
      <h3>Some stats yo</h3>
      <ul>
        <%= @dashboard.users_per_day %>
        <% @dashboard.recent_activity.each do |activity| %>
          <li>
            <%= activity.user_email %> | <%= time_ago_in_words(activity.created_at) %> ago
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
