<%= render 'shared/vendor_header', vendor_name: @dashboard.vendor_name %>
<%= render 'shared/vendor_tabs' %>


<div class="tab-content">
  <div>
    <%= @dashboard.users_per_day %>
  </div>

  <div>
    <ul>
      <% @dashboard.recent_activity.each do |activity| %>
        <li>
          <%= activity.user_email %> | <%= time_ago_in_words(activity.created_at) %> ago
        </li>
      <% end %>
    </ul>
  </div>
</div>
