<div class="dashboard dashboard--vendor center-block">
  <ul class="dashboard__nav">
    <li class="active">
      <a class="dashboard__nav-link" href="#1a" data-toggle="tab">Manual ID</a>
    </li>
    <li><a class="dashboard__nav-link" href="#2a" data-toggle="tab">My Stats</a> </li>
    <li><a class="dashboard__nav-link" href="#3a" data-toggle="tab">Send Campaign</a> </li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <h3><%= @dashboard.vendor_name %></h3>

      <%= link_to "Put Stamp", new_stamp_path, class: "btn-cta-success" %>

    </div>
    <div class="tab-pane" id="2a">
      <h3>Some stats yo</h3>

      <ul>
        <%= @dashboard.users_per_day %>
        <% @dashboard.recent_activity.each do |activity| %>
          <li>
            <%= activity.user_email %> | <%= time_ago_in_words(activity.created_at) %> ago
          </li>
        <% end %>
      </ul>

    </div>
    <div class="tab-pane" id="3a">
      <h3>Email campaign</h3>
    </div>
  </div>
</div>
