<div class="dashboard dashboard--vendor center-block">
  <h3 class="dashboard__title"><%= @stamp.vendor_name %></h3>

  <%= render 'shared/vendor_tabs' %>

  <div class="tab-content clearfix">
    <div class="dashboard__manual-id">
      <%= simple_form_for @stamp, html: { role: "form" } do |f| %>
        <div class="col-xs-12 col-md-12 col-lg-12">
          <%= f.input :user_id, as: :string, label: false, placeholder: "User ID", input_html: { class: "dashboard__input" } %>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <%= link_to "Cancel", :back, class: "btn btn-lg btn-link btn-block", data: { disable_with: "..." } %>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <%= f.button :submit, "Stamp", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
