<%= render 'shared/vendor_header', vendor_name: @stamp.vendor_name %>
<%= render 'shared/vendor_tabs' %>

<div class="spacer"></div>

<div class="tab-content">
  <div class="row">
    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
      <%= simple_form_for @stamp, html: { role: "form" } do |f| %>
        <%= f.input :user_id, as: :string, label: false, placeholder: "User ID" %>
        <%= f.button :submit, "Stamp", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "btn btn-link", data: { disable_with: "..." } %>
      <% end %>
    </div>
  </div>
</div>
