<ul class="dashboard__nav">
  <li class="<%= "active" if current_page?(dashboard_path) %>">
    <%= link_to "History", dashboard_path, class: "dashboard__nav-link" %>
  </li>
  <li class="<%= "active" if current_page?(new_stamp_path) %>">
    <%= link_to "Manual ID", new_stamp_path, class: "dashboard__nav-link" %>
  </li>
  <li class="<%= "active" if current_page?(analytics_path) %>">
    <%= link_to "Analytics", analytics_path, class: "dashboard__nav-link" %>
  </li>
  <% deals_link = current_vendor.active_deal ? deal_path(current_vendor.active_deal) : new_deal_path %>
  <li class="<%= "active" if current_page?(deals_link) %>">
    <%= link_to "Deals", deals_link, class: "dashboard__nav-link" %>
  </li>
</ul>
