<header class="header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Digital Stamp Cards</h1>
      <h3>Local Loyalty Programs Move from Paper to the Cloud</h3>

      <br>
      <a href="#business" class="btn-cta">For businesses</a>
      <a href="#card-holder" class="btn-cta">For card holders</a>
    </div>
  </div>
</header>

<main class="landing-main">
  <div class="content content--card-holder" id="card-holder">
    <section class="section section--benefits">
      <h2 class="section__title">Loyalty Wallet keeps track on your loyalty cards</h2>
      <div class="section__items">
        <div class="section__item">
          <%= image_tag("wallet.jpg", class: "section__image", lazy: true) %>

          <h4 class="section__item-title">Unclutter your wallet</h4>
          If you go to work, university, or school your wallet probably contains a respectable collection of loyalty stamp cards for your daily meals. There is an easier way now.
        </div>

        <div class="section__item">
          <%= image_tag("lost_cards.jpg", class: "section__image", lazy: true) %>

          <h4 class="section__item-title">Never loose a card again</h4>
          Do not allow your meticulously collected points to disappear together with the paper they are stamped on. Never let a free meal slip away from you again.
        </div>

        <div class="section__item">
          <%= image_tag("free.jpg", class: "section__image", lazy: true) %>

          <h4 class="section__item-title">Free for users</h4>
          Our service is completely FREE for you. You will not even pay a cent and you get the insight into daily offers from your favorite eateries.
        </div>
      </div>
    </section>

    <section class="section section--howitworks">
      <h2 class="section__title">Loyalty Wallet is EASY. Only 3 Quick Steps.</h2>
      <div class="section__items text-center">
        <div class="section__item">
          <h3 class="section__item-num">1</h3>
          <h3 class="section__item-title">Sign Up</h3>
        </div>
        <div class="section__item">
          <h3 class="section__item-num">2</h3>
          <h3 class="section__item-title">Show QR code to Vendor</h3>
        </div>
        <div class="section__item">
          <h3 class="section__item-num">3</h3>
          <h3 class="section__item-title">Collect Stamps</h3>
        </div>
      </div>

      <div class="section__button-container">
        <a href="/users/sign_up" class="btn-cta">Get started</a>
      </div>
    </section>
  </div>

  <div class="content content--business" id="business">
    <section class="section section--benefits">
      <h2 class="section__title">Loyalty Wallet is more than stamp cards</h2>
      <div class="section__items">
        <div class="section__item">
          <%= image_tag("customers.jpg", class: "section__image", lazy: true) %>

          <h4 class="section__item-title">Know your customer</h4>
          We provide you with cutting edge statistics about how your customers behave. For the first time we allow you to understand who is buying from you.
        </div>

        <div class="section__item">
          <%= image_tag("connect-customers.jpg", class: "section__image", lazy: true) %>

          <h4 class="section__item-title">Connect to your customer</h4>
          Our software allows you to send messages to users about your new offers, special deals, or reactivate customers who have not visited you in a while.
        </div>

        <div class="section__item">
          <%= image_tag("free-business.jpg", class: "section__image", lazy: true) %>

          <h4 class="section__item-title">It is FREE</h4>
          Our FREE version allows you to save costs from constant printing of cards. We give small and medium businesses the ability to join the digital revolution.
        </div>
      </div>
    </section>
    <section class="section section--howitworks">
      <h2 class="section__title">Loyalty Wallet is EASY. Only 3 Quick Steps.</h2>

      <div class="section__items text-center">
        <div class="section__item">
          <h3 class="section__item-num">1</h3>
          <h3 class="section__item-title">Sign Up</h3>
        </div>
        <div class="section__item">
          <h3 class="section__item-num">2</h3>
          <h3 class="section__item-title">Scan Customer QR code</h3>
        </div>
        <div class="section__item">
          <h3 class="section__item-num">3</h3>
          <h3 class="section__item-title">Send Special Deals</h3>
        </div>
      </div>

      <div class="section__button-container">
        <a href="/users/sign_up?type=Vendor" class="btn-cta">Get started</a>
      </div>
    </section>
  </div>

</main>

<%= render 'shared/footer' %>
