<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info"><strong>Info:</strong> You can have only one active deal at a time</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6 col-lg6">
    <h4 class="deals__content-title">New Deal</h4>
  </div>
  <div class="col-xs-6 col-md-6 col-lg-6 text-right">
    <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#dealsInfoModal">
      What are deals?
    </button>
  </div>
</div>


<%= simple_form_for deal, html: { role: "form" } do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <%= f.input :title, as: :string, label: "Explain your deal", input_html: { class: "dashboard__input", maxlength: Deal::TITLE_LENGTH }, autofocus: true, autocomplete: false %>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 text-right">
      <span id="chars-left">150 characters left</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8">
      <%= f.input :valid_from, collection: deal_days_collection, input_html: { class: "dashboard_input" }, include_blank: false, selected: f.object.valid_from && f.object.valid_from.to_date.to_s %>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <%= f.input :valid_from_hour, collection: deal_hours_collection, input_html: { class: "dashboard_input" }, include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8">
      <%= f.input :valid_till, collection: deal_days_collection, input_html: { class: "dashboard_input" }, include_blank: false, selected: f.object.valid_till && f.object.valid_till.to_date.to_s %>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <%= f.input :valid_till_hour, collection: deal_hours_collection, input_html: { class: "dashboard_input" }, include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <%= f.input :terms_of_service, as: :boolean %>
    </div>
  </div>
  <div class="row">
    <%= link_to "Cancel", dashboard_path, class: "manual-id__cancel" %>
    <%= f.button :submit, "Start Deal", class: "btn-cta manual-id__submit", data: { disable_with: "..." } %>
  </div>
<% end %>

<% content_for :modals do %>
  <div class="modal" id="dealsInfoModal" tabindex="-1" role="dialog" aria-labelledby="dealsInfoModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="dealsInfoModalLabel">What are deals?</h4>
        </div>
        <div class="modal-body">
          <p>
          Summarize what deal you are offering to your clients so you can attract them to your place.
          Customers, who have a stamp from your place will see it and be tempted.
          Try different deals such as:
          </p>

          <ul>
            <li>Buy 2 Get 3 Items</li>
            <li>Buy 1 Get 2 Stamps</li>
            <li>Specials on the menu today</li>
            <li>Special deal for our loyal customers ONLY</li>
            <li>Free dessert with every main course</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
