<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info"><strong>Info:</strong> You can have only one active deal at a time</div>
  </div>
</div>

<h4 class="deals__content-title">New Deal</h4>

<%= simple_form_for deal, html: { role: "form" } do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <%= f.input :title, as: :string, label: "Explain your deal", input_html: { class: "dashboard__input", maxlength: Deal::TITLE_LENGTH }, autofocus: true, autocomplete: false %>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 text-right">
      <span id="chars-left">150 characters left</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8">
      <%= f.input :valid_from, collection: deal_days_collection, input_html: { class: "dashboard_input" }, include_blank: false %>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <%= f.input :valid_from_hour, collection: deal_hours_collection, input_html: { class: "dashboard_input" }, include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8">
      <%= f.input :valid_till, collection: deal_days_collection, input_html: { class: "dashboard_input" }, include_blank: false %>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <%= f.input :valid_till_hour, collection: deal_hours_collection, input_html: { class: "dashboard_input" }, include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <%= f.input :terms_of_service, as: :boolean %>
    </div>
  </div>
  <div class="row">
    <%= link_to "Cancel", dashboard_path, class: "manual-id__cancel" %>
    <%= f.button :submit, "Start Deal", class: "btn-cta manual-id__submit", data: { disable_with: "..." } %>
  </div>
<% end %>
