<div class="user-activity">
  <div class="user-activity__panel user-activity__panel--<%= current_count == Stamp::PRIZE_STAMP_COUNT ? "highlight" : "default" %>">
    <div class="user-activity__head">
      <h4 class="user-activity__title"><%= title %></h4>
      <h5 class="user-activity__score user-activity__score--<%= current_count == Stamp::PRIZE_STAMP_COUNT ? "highlight" : "default" %>"><%= current_count %>&nbsp;/&nbsp;<%= Stamp::PRIZE_STAMP_COUNT %></h5>
    </div>
    <div class="user-stamp">
      <% Stamp::PRIZE_STAMP_COUNT.times do |i| %>
        <span class="user-stamp__item user-stamp__item--<%= current_count > i ? "success" : "default" %>"></span>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="user-stamp__date">
      <%= date %>
    </div>
  </div>
</div>
