<!DOCTYPE html>
<html>
  <head>
    <title>LoyaltyWallet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="page-top">
    <div class="notice hide"><%= notice %></div>
    <div class="alert hide"><%= alert %></div>

    <%= yield %>
  </body>
</html>
